.NavigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: rgb(235, 195, 64);;
}

.LogoType {
    width: 100px;
}

.LogoType, .aboutButton, .contactButton {
    align-self: center;
    cursor: pointer;
}